<script>
export default {
  name: 'Hint',
  props: {
    index: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      hints: [
        ' - The <code>StateChange</code> component can emit an event when created to expose a method to the parent.'
      ]
    }
  }
}
</script>

<template>
  <em v-html="hints[index]"></em>
</template>

