<script>
import Btn from '../components/Button.vue';

export default {
  name: 'Exercise2',
  components: {
    Btn
  },
  data() {
    return {
      textState: 'default'
    }
  },
  methods: {
    swapText() {
      this.textState = this.textState === 'default' ? 'alternate' : 'default';
    }
  }
}
</script>

<template>
  <div>
    <h1>Exercise 2</h1>
    <p>Create a button that changes the parent text when clicked.</p>
    <span v-if="textState==='default'">This is the default text that will need to be swapped on the button click!</span>
    <span v-if="textState==='alternate'"><strong>Hooray! You did it! This is the alternate text!</strong></span>
    <br />
    <btn @button-click="swapText">Swap Text!</btn>
  </div>
</template>
