<script>
import RedLink from '../components/RedLink.vue';

export default {
  name: 'Exercise7',
  components: {
    RedLink
  }
}
</script>

<template>
  <div>
    <h1>Exercise 7</h1>
    <p>Make the link component <em>always</em> red, even when there are randomly applied styles you can't change.</p>
    <red-link class="random-annoying-class-that-you-cant-get-rid-of">This text should also be red and italic.</red-link>
  </div>
</template>

<style>
a.link.random-annoying-class-that-you-cant-get-rid-of {
  color: blue;
  text-decoration: underline;
}
</style>
