<script>
import RedLink from '../components/RedLink.vue';

export default {
  name: 'Exercise6',
  components: {
    RedLink
  }
}
</script>

<template>
  <div>
    <h1>Exercise 6</h1>
    <p>Make a <code>Link.vue</code> component that has a red link instead of the default blue and is italicised.</p>
    <red-link>This text should be red and italic. Please add styles to my component to make it work.</red-link>
  </div>
</template>

<style>
a.link {
  color: blue;
  text-decoration: underline;
}
</style>
