<script>
import Btn from '../components/Button.vue';
import StateChange from '../components/StateChange.vue';
import Hint from '../hints/Hint.vue';

export default {
  name: 'Exercise4',
  components: {
    Btn,
    StateChange,
    Hint
  },
  data() {
    return {
      showHint: false
    }
  },
  methods: {
    changeState() {
      this.stateChangeHandler();
    },
    mountHandler(cb) {
      this.stateChangeHandler = cb;
    }
  }
}
</script>

<template>
  <div>
    <h1>Exercise 4</h1>
    <p>Without modifying the previous button component, create a third component <code>StateChange.vue</code> that when rendered in a button and clicked will cycle through "initial", "transition" and "final" states. The button will spend 1 second on the "transition" state and if clicked when in the 'transition' state will show an error state.</p>
    <p>All of the code for the state-change requirements has already been provided. You just need to tie it in so the state is controlled by the parent.</p>
    <p><em @click="showHint = !showHint">Hint</em><hint :index="0" v-if="showHint"></hint></p>
    <btn @button-click="changeState">
      <state-change @expose-handler="mountHandler">
        <template #initial>Initial State</template>
        <template #transition>Transition State</template>
        <template #final>Final State</template>
        <template #error><strong>Error State</strong></template>
      </state-change>
    </btn>
  </div>
</template>
