<script>
import Btn from '../components/Button.vue';
import StateChange from '../components/StateChange.vue';

export default {
  name: 'Exercise5',
  components: {
    Btn,
    StateChange
  },
  methods: {
    changeState() {
      this.stateChangeHandler();
    },
    mountHandler(cb) {
      this.stateChangeHandler = cb;
    }
  }
}
</script>

<template>
  <div>
    <h1>Exercise 5</h1>
    <p>Now swap the components so that buttons are rendered inside the <code>StateChange</code> component for the initial and error states and plain text is shown for the transition and final states.</p>
    <state-change  @expose-handler="mountHandler">
      <template #initial>
        <btn @button-click="changeState">Click Me!</btn>
      </template>
      <template #transition>Loading ...<btn @button-click="changeState">Don't Click Me!</btn></template>
      <template #final><strong>Success!</strong></template>
      <template #error><em>Ooops! Something went wrong!</em><btn @button-click="changeState">Try Again</btn></template>
    </state-change>
  </div>
</template>
