<script>
export default {
  name: 'RedLink'
}
</script>

<template>
  <a class="link" href="#">
    <slot>link</slot>
  </a>
</template>

<style>
a.link {
  color: red;
  text-decoration: none;
  font-style: italic;
}
</style>
