<script>
import { setTimeout } from 'timers';

export default {
  name: 'app',
}
</script>

<template>
  <div id="app">
    <router-link to="/">Home</router-link> |
    <router-link to="/1">Exercise 1</router-link> |
    <router-link to="/2">Exercise 2</router-link> |
    <router-link to="/3">Exercise 3</router-link> |
    <router-link to="/4">Exercise 4</router-link> |
    <router-link to="/5">Exercise 5</router-link> |
    <router-link to="/6">Exercise 6</router-link> |
    <router-link to="/7">Exercise 7</router-link>
    <router-view />
  </div>
</template>

<style>
body {
  background-color: #FFFFFF;
}
</style>
